body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  align-items: center;
  text-align: center;
}

nav{
  padding: 20px;
}
nav a{
  margin-right: 15px;
  text-decoration: none;
  color: rgb(115, 113, 118);
}
nav a.active{
  font-weight: bold;
  color: white;
  background-color:rgba(59, 12, 178, 0.8);
  border-radius:2px;
  text-decoration: none;
  padding: 2px;;
  padding-inline: 10px;
}
.navbar{
  background-color: rgb(19, 9, 41);
}
.card-container {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width : 992px) {
  .card-container{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    
  }
  
}
#date{
  color: grey;
  font-size: small;
}
#balance{
  color: rgb(34, 2, 93);
  padding: 4%;
}

.formbox{
  background-color: rgb(235, 235, 235);
  padding: 1%;

}

.container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

select {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;

}

input[type="number"] {
  padding: 5px;
  margin-right: 5px;

}

button {
  padding: 5px 10px;
  background-color: #029d07;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0e6d13;
}

h4 {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

#date {
  margin-right: 10px;
}

#type {
  margin-right: 10px;
}